<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Creepster&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper-bundle.min.css">  
    <title>Digital-Commerce-Charm</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

  <link rel="stylesheet" href="/css/style-prefix.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/style2.css">

  <link rel="stylesheet" href="/css/login.css">


  
  

  <!--
    - google font link
  -->


 <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"rel="stylesheet">

</head>

<body>

 
<section class="cart container mt-2 my-3 py-5">
    <div class="container mt-2">
        <h4>YOUR CART</h4>
    </div>
    <table class="pt-5" style="width: 100%;">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>SubTotal</th>
        </tr>


        <% cart.forEach(function(item) => { %>
        <tr>
            <td>
                <div class="product-info">
                    <img src="images/<%= item.image %>" alt="">
                    <div>
                        <p><%= item.name %></p>

                        <% if (item.sale_price) { %>
                        <small><span>$</span><%= item.sale_price %></small>
                        <% } else { %>
                        <small><span>$</span><%= item.price%></small>
                        <% } %>
                        <br>
                        <form method="post" action="/remove-product">

                            <input type="hidden" name="id" value="<%= item.id %>">
                            <input type="submit" name="remove_btn" value="Remove" class="remove-btn">
                        </form>
                    </div>
                </div>
            </td>


            <td>
                <form action="/edit_product_quantity" method="POST">
                    <input type="hidden" name="id" value="<%= item.id %>">
                    <input type="text" name="quantity" value="<%= item.quantity%>" readonly>
                    <input type="submit" name="increase_product_quantity" value="-" class="edit-btn">
                    <input type="submit" name="decrease_product_quantity" value="+" class="edit-btn">
                </form>
            </td>
            <td>

                <% if (item.sale_price ) { %>
            <span class="product-price">$ <%= item.sale_price * item.quantity%></span>
            <% } else { %>
                <span class="product-price">$ <%= item.price * item.quantity%></span>
            <% } %>
        </td>
        </tr>
        <% }) %>
    </table>


   
    <div class="cart-total">
        <table>
            <tr>
                <td>total</td>
                <td>$ <%= total %></td>
            </tr>
            
        </table>
    </div>

    <div class="checkout-container">

        <form action="/checkout" method="get">
            <input type="submit" name="checkout_btn" value="CHECKOUT" class="btn checkout-btn">
        </form>

        


</section>

 <!--
    - FOOTER
  -->

  
  <!--
    - custom js link
  -->
  <script src="js/script2.js"></script>
  <script src="js/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script width="140" height="200"pt src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    
</body>

</html>