

<section class="cart container mt-2 my-3 py-5">
    <div class="container mt-2">
        <h4>YOUR CART</h4>
    </div>
    <table class="pt-5" style="width: 100%;">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>SubTotal</th>
        </tr>


        <% cart.forEach(function(item) => { %>
        <tr>
            <td>
                <div class="product-info">
                    <img src="images/<%= item.image %>" alt="">
                    <div>
                        <p><%= item.name %></p>

                        <% if (item.sale_price) { %>
                        <small><span>$</span><%= item.sale_price %></small>
                        <% } else { %>
                        <small><span>$</span><%= item.price%></small>
                        <% } %>
                        <br>
                        <form method="post" action="/remove-product">

                            <input type="hidden" name="id" value="<%= item.id %>">
                            <input type="submit" name="remove_btn" value="Remove" class="remove-btn">
                        </form>
                    </div>
                </div>
            </td>


            <td>
                <form action="/edit_product_quantity" method="POST">
                    <input type="hidden" name="id" value="<%= item.id %>">
                    <input type="text" name="quantity" value="<%= item.quantity%>" readonly>
                    <input type="submit" name="increase_product_quantity" value="-" class="edit-btn">
                    <input type="submit" name="decrease_product_quantity" value="+" class="edit-btn">
                </form>
            </td>
            <td>

                <% if (item.sale_price ) { %>
            <span class="product-price">$ <%= item.sale_price * item.quantity%></span>
            <% } else { %>
                <span class="product-price">$ <%= item.price * item.quantity%></span>
            <% } %>
        </td>
        </tr>
        <% }) %>
    </table>


   
    <div class="cart-total">
        <table>
            <tr>
                <td>total</td>
                <td>$ <%= total %></td>
            </tr>
            
        </table>
    </div>

    <div class="checkout-container">

        <form action="/checkout" method="get">
            <input type="submit" name="checkout_btn" value="CHECKOUT" class="btn checkout-btn">
        </form>

        


</section>